<!--Top Section-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 col-sm-3">
        <div class="navbar-header">
          <ul class="nav navbar-nav navbar-left">
            <li>
              <a class="navbar-brand" href="#">
                <img class="img-responsive logo-img" src="../../assets/logo.jpg" alt="logo">
              </a>  
            </li>
          </ul> <!--.nav-->
        </div> <!--.navbar-header-->
      </div> <!--.col-md-2-->
      <div class="col-md-8 col-sm-7 pd0">
        <div class="custom-search">
          <input [(ngModel)]="searchText" type="text" class="form-control" 
          placeholder="Search by id, status, owner, fund name, frequency">
        </div> <!--.custom-search-->
      </div> <!--.col-md-8--> 
      <div class="col-md-2 col-sm-2">
        <ul class="nav navbar-nav navbar-right">
          <li><a ref="javascript:void(0)"><i class="fa fa-envelope-open-o" aria-hidden="true"></i></a></li>
          <li><a ref="javascript:void(0)"><i class="fa fa-user-o" aria-hidden="true"></i></a></li>
        </ul> <!--.nav-->
      </div> <!--.col-md-2-->
    </div> <!--.row-->
  </div> <!--.container-fluid-->
</nav> <!--.navbar-->

<app-mid></app-mid>

<section class="dashboard-screen">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="text-right">
          <a (click)="openCreate()" class="btn btn-xs btn-warning">Add Task <i class="fa fa-plus"></i></a>
        </p>
      </div> <!--.col-md-12-->
    </div> <!--.row-->
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive" *ngIf="!hideGrid">          
          <table class="table">
            <thead>
              <tr>
                <th>Identification</th>
                <th>Task Name</th>
                <th>Status</th>
                <th>Owner</th>
                <th>Comment</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let task of tasks | filter : searchText | paginate: { itemsPerPage: 6, currentPage: p }">
                <td>{{task.id}}</td>
                <td>Enter {{task.frequency}} {{task.fundName | replace}} commentary</td>
                <td>
                  <a (click)="openEdit(task);isComment()" *ngIf="task.status == 'Pending'" class="btn btn-xs btn-block btn-warning">
                      {{task.status}}
                  </a>
                  <a href="javascript:void(0)" *ngIf="task.status == 'Completed'" class="btn btn-xs btn-block btn-success">
                      {{task.status}}
                  </a>
                </td>
                <td>
                  <select [(ngModel)]="task.owner" name="owner" class="form-control edit-control" (change)="updateTask(task)">
                    <option value="{{o.name}}" *ngFor="let o of owners">
                      {{o.name}}
                    </option>
                  </select>
                </td>
                <td *ngIf="task.comment">
                  <i class="fa fa-comment" aria-hidden="true"></i>
                </td>
                <td *ngIf="!task.comment">
                  No comment
                </td>
                <td>
                  <a (click)="openEdit(task)">
                    <i class="fa fa-edit"></i>
                  </a> |
                  <a (click)="deleteTask(task.id)">
                    <i class="fa fa-trash fa-primary" aria-hidden="true"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="p = $event" class="text-right"></pagination-controls>
        </div> <!--table-responsive-->
      </div> <!--.col-md-12-->
    </div> <!--.row-->                                                                                 
  </div> <!--.container-->
</section>

<section class="details-screen">

  <!--Edit-->
  <div class="container">
    <div class="row" *ngIf="showEdit">
      <div class="col-md-12">
        <form (submit)="updateTaskSubmit(editData)">
          <div class="row">
            <div class="col-md-6">
              <label for="id">Identification</label>
              <input required disabled type="text" name="id" class="form-control" name="id"
              [(ngModel)]="editData.id">
            </div> <!--.col-md-6-->
            <div class="col-md-6">
              <label for="owner">Fund Name:</label>
              <select required [(ngModel)]="editData.fundName" name="fundName" class="form-control"
              placeholder="*Fund Name">
                <option value="{{o.name}}" *ngFor="let o of fundName">
                  {{o.name}}
                </option>
              </select>
            </div> <!--.col-md-6-->
          </div> <!--.row-->
          <div class="row">
            <div class="col-md-6">
              <label for="owner">Owner:</label>
              <select required [(ngModel)]="editData.owner" name="owner" class="form-control"
              placeholder="*Owner">
                <option value="{{o.name}}" *ngFor="let o of owners">
                  {{o.name}}
                </option>
              </select>
            </div> <!--.col-md-6-->
            <div class="col-md-6">
              <label for="owner">Frequency:</label>
              <select required [(ngModel)]="editData.frequency" name="frequency" class="form-control"
              placeholder="*Frequency">
                <option value="{{o.name}}" *ngFor="let o of frequency">
                  {{o.name}}
                </option>
              </select>
            </div> <!--.col-md-6-->
          </div> <!--.row-->
          <div class="row" *ngIf="showComment">
            <div class="col-md-6">
              <label for="body">Comment</label>
              <textarea required name="comment" rows="8" cols="80" [(ngModel)]="editData.comment" 
              class="form-control" placeholder="*Comments" (keyup)="updatePending(editData.comment)"></textarea>
            </div> <!--.col-md-6-->
          </div> <!--.row-->
          <div class="row">
            <div class="col-md-12">
              <div class="text-right">
                <button type="button" class="btn btn-default" (click)="goBack()">Cancel</button> |
                <button [disabled]="!processing" type="submit" class="btn btn-default">Update</button>
              </div>
            </div> <!--.col-md-12-->
          </div> <!--.row-->
        </form>
      </div> <!--.col-md-12-->
    </div> <!--.row-->

    <!--Create-->
    <div class="row" *ngIf="showCreate">
      <div class="col-md-12">
        <form [formGroup]="form" name="createForm" (submit)="onTaskSubmit()">
          <div class="row">
            <div class="col-md-6">
              <label for="owner">Fund Name:</label>
              <select required name="fundName" class="form-control"
               placeholder="*Fund Name" formControlName="fundName">
                <option value="">Choose Fund Name for the task</option>
                <option value="{{o.name}}" *ngFor="let o of fundName">
                  {{o.name}}
                </option>
              </select>
            </div> <!--.col-md-6-->
            <div class="col-md-6">
              <label for="owner">Owner:</label>
              <select required name="owner" class="form-control"
              placeholder="*Owner" formControlName="owner">
                <option value="">Choose Owner for the task</option>
                <option value="{{o.name}}" *ngFor="let o of owners">
                  {{o.name}}
                </option>
              </select>
            </div> <!--.col-md-6-->
          </div> <!--.row-->
          <div class="row">
            <div class="col-md-6">
              <label for="owner">Frequency:</label>
              <select required name="frequency" class="form-control"
              placeholder="*Frequency" formControlName="frequency">
                <option value="">Choose Frequency for the task</option>
                <option value="{{o.name}}" *ngFor="let o of frequency">
                  {{o.name}}
                </option>
              </select>
            </div> <!--.col-md-6-->
          </div> <!--.row-->
          <div class="row">
            <div class="col-md-12">
              <div class="text-right">
                <button type="button" class="btn btn-default" (click)="goBack()">Cancel</button> |
                <button [disabled]="!form.valid" type="submit" class="btn btn-default">Add</button>
              </div>
            </div> <!--.col-md-12-->
          </div> <!--.row-->
        </form>
      </div> <!--.col-md-12-->
    </div> <!--.row-->
  </div> <!--.container-->

</section> <!--.details-screen-->