/* Dashboard Screen */
.dashboard-screen {
    margin: 35px 0;
}
.table-search {
    box-shadow: none;
    border: 0;
    padding-bottom: 0;
    padding-top: 14px;
}
.dashboard-screen .fa {
    cursor: pointer;
}
.fa-primary {
    color: #ed1c23; 
}
.btn-xs {
    border: 0;
}
.btn-warning {
    background-color: #ed1c23;
}
.table th, .table td, .table .table-search {
    text-align: center;
}
.edit-control {
    text-align: center;
    box-shadow: none;
    color: #000;
    border-color: #ddd;
}
.dashboard-screen .edit-control {
    max-width: 130px;
    margin: 0 auto;
    border: 0;
}
.edit-control:focus {
    border: 1px solid #ccc;
}

/* Details Screen */
.details-screen {
    margin: 35px 0;
}
.details-screen form input, .details-screen form select {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
.details-screen form input:focus, .details-screen form select:focus {
    border-color: #ed1c23;
}
.details-screen form .btn {
    background-color: #ed1c23;
    border: 0;
    border-radius: 0;
    color: #fff;
}
.fa-sort-desc, .fa-sort-asc {
    position: relative;
}
.fa-sort-desc {
    top: -2px;
}
.fa-sort-asc {
    top: 3px;
}
span {
    width: 150px !important;
}
